<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách Blog</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h1>Danh sách Blog</h1>

<a th:href="@{/blogs/create}">Tạo bài viết mới</a>

<form id="searchForm">
    <input type="text" id="searchInput" name="keyword" placeholder="Tìm tiêu đề...">
    <button type="submit">Tìm kiếm</button>
</form>

<div id="blogTable">
    <div th:replace="blog/_table :: tableFragment(${blogPage})"></div>
</div>

<button id="loadMoreBtn">Tải thêm</button>

<script>
    let page = 0;
    let keyword = '';

    $('#searchForm').submit(function (e) {
        e.preventDefault();
        page = 0;
        keyword = $('#searchInput').val();

        $.ajax({
            url: '/blogs/search',
            type: 'GET',
            data: { keyword: keyword, page: page },
            success: function (response) {
                $('#blogTable').html(response.html);
                if (!response.hasMore) {
                    $('#loadMoreBtn').hide();
                } else {
                    $('#loadMoreBtn').show();
                }
            }
        });
    });

    $('#loadMoreBtn').click(function () {
        page++;
        $.ajax({
            url: '/blogs/load',
            type: 'GET',
            data: { keyword: keyword, page: page },
            success: function (response) {
                $('#blogTable').append(response.html);
                if (!response.hasMore) {
                    $('#loadMoreBtn').hide();
                }
            },
            error: function () {
                alert("Không thể tải thêm.");
            }
        });
    });
</script>

</body>
</html>
